* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .container h1 {
  padding-bottom: 380px;
  color: #313437; }

body .container h2, body .container .contact-box h2, body .container .help-box h2, body .container .service-box h2 {
  font-weight: bold;
  color: #313437;
  padding-bottom: 40px;
  padding-top: 40px; }

body .container .btn {
  background-image: linear-gradient(to right, #B24592 0%, #F15F79 51%, #B24592 100%);
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block; }
  body .container .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none; }

body {
  background: #edd3cc;
  background: -moz-linear-gradient(180deg, #edd3cc 25%, #dcdadb 50%, #d7ccc6 75%);
  background: -webkit-linear-gradient(180deg, #edd3cc 25%, #dcdadb 50%, #d7ccc6 75%);
  background: linear-gradient(180deg, #edd3cc 25%, #dcdadb 50%, #d7ccc6 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edd3cc",endColorstr="#d7ccc6",GradientType=1); }

.twitter {
  color: #F15F79;
  margin: 10px;
  font-size: 1.2rem; }
  .twitter:hover {
    color: #51aff8; }

.facebook {
  color: #F15F79;
  margin: 10px;
  font-size: 1.2rem; }
  .facebook:hover {
    color: #2956a3; }

.instagram {
  color: #F15F79;
  margin: 10px;
  font-size: 1.2rem; }
  .instagram:hover {
    color: #ce1312; }

body .container .card, body .container .card-img {
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }
  body .container .card .card-img-overlay, body .container .card-img .card-img-overlay {
    padding: 20px; }
  body .container .card .card-title, body .container .card-img .card-title {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: #313437;
    font-size: 1.2rem; }
  body .container .card .card-subtitle, body .container .card-img .card-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 1rem; }
  body .container .card .card-text, body .container .card-img .card-text {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 20px; }

body .container .section2 .card {
  margin: 20px;
  overflow: hidden; }

body .container .section3 .card {
  background-color: #fff;
  text-align: center;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer; }
  body .container .section3 .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

body .container .section3 .rounded-circle {
  width: 200px;
  height: 200px; }

/*

Extend
p {
    @extend %estilosParrafo;
}

Mixin
h2 {
    @include fontStyle();
}

*/
body .container {
  padding: 10px; }
  body .container .about-box .profile-card-3 {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 368px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    width: 100%; }
    body .container .about-box .profile-card-3 .background-block {
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden; }
      body .container .about-box .profile-card-3 .background-block .background {
        width: 100%;
        vertical-align: top;
        opacity: 0.9;
        -webkit-filter: blur(0.5px);
        filter: blur(0.5px);
        -webkit-transform: scale(1.8);
        transform: scale(2.8); }
    body .container .about-box .profile-card-3 .card-content {
      width: 100%;
      padding: 15px 25px;
      color: #232323;
      float: left;
      background: #efefef;
      height: 50%;
      border-radius: 0 0 5px 5px;
      position: relative;
      z-index: 9999; }
      body .container .about-box .profile-card-3 .card-content::before {
        content: '';
        background: #efefef;
        width: 120%;
        height: 100%;
        left: 11px;
        bottom: 51px;
        position: absolute;
        z-index: -1;
        transform: rotate(-13deg); }
    body .container .about-box .profile-card-3 .profile {
      border-radius: 50%;
      position: absolute;
      bottom: 50%;
      left: 50%;
      max-width: 100px;
      opacity: 1;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
      border: 2px solid white;
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      z-index: 99999; }
    body .container .about-box .profile-card-3 .title {
      font-weight: bold;
      margin-top: 28px;
      margin-bottom: 8px;
      color: #313437;
      font-size: 1.2rem; }
    body .container .about-box .profile-card-3 .subtitle {
      text-transform: uppercase;
      font-weight: bold;
      color: #d0d0d0;
      letter-spacing: 2px;
      font-size: 1rem; }

body .container {
  padding: 10px; }
  body .container .contact-box .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; }
    body .container .contact-box .abs-center .form {
      width: 700px;
      border-radius: 20px; }
    body .container .contact-box .abs-center .form-control, body .container .contact-box .abs-center .form-select {
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      border-radius: 15px; }
    body .container .contact-box .abs-center .form-control, body .container .contact-box .abs-center .form-select, body .container .contact-box .abs-center .form-check-input:focus {
      box-shadow: none;
      border: none; }

body .container {
  padding: 10px; }
  body .container .accordion .accordion-item {
    background-color: transparent;
    border: none; }
    body .container .accordion .accordion-item .accordion-header {
      padding: 0; }
  body .container .accordion .accordion-button {
    border-radius: 30px;
    background-image: linear-gradient(to right, #B24592 0%, #F15F79 51%, #B24592 100%);
    color: white;
    border-color: black;
    margin-bottom: 10px; }
    body .container .accordion .accordion-button:focus {
      box-shadow: none;
      border: none;
      border-color: none;
      color: white; }

body .container {
  padding: 10px; }
  body .container .service-box .card-service {
    border-radius: 30px;
    background: white;
    width: 100%;
    padding: 10px; }
    body .container .service-box .card-service img {
      width: 150px;
      height: 150px; }
  body .container .service-box .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center; }
  body .container .service-box .card-title {
    font-weight: bold;
    margin-top: 16px;
    color: inherit; }
  body .container .service-box .card-text {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px; }
  body .container .service-box i {
    font-size: 15px;
    margin-right: 5px; }
  body .container .service-box .social {
    display: flex;
    justify-content: right; }
  body .container .service-box form {
    margin-bottom: 30px; }
  body .container .service-box .form-control {
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 15px;
    width: 200px; }
  body .container .service-box .form-group {
    margin-left: 30px; }
    body .container .service-box .form-group:focus {
      border: none; }
    body .container .service-box .form-group button {
      margin-top: 30px;
      padding: 12px;
      border: 1px solid #ccc;
      resize: vertical;
      border-radius: 15px;
      width: 200px; }
  body .container .service-box .col-md-3 {
    display: flex;
    flex-direction: column;
    align-content: center; }

.footer .title {
  font-weight: bold;
  color: #313437;
  padding-bottom: 20px;
  padding-top: 40px; }

.footer .list {
  list-style: none;
  padding: 5px;
  margin: 5px;
  font-size: 20px; }

.footer .list i {
  margin: 5px; }

.footer .list p {
  margin: 0;
  font-size: 1.2rem; }

.footer .list a {
  text-decoration: none;
  color: #313437; }
  .footer .list a:hover {
    color: #F15F79; }

.footer .autor {
  text-align: center;
  padding: 30px; }

.footer .social {
  margin: 10px;
  font-size: 1.2rem; }

.header .navbar {
  background-color: #edd3cc; }
  .header .navbar .btn {
    background-image: linear-gradient(to right, #B24592 0%, #F15F79 51%, #B24592 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline-block; }
    .header .navbar .btn:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none; }
    .header .navbar .btn .form-control:focus {
      border: none; }
  .header .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .header .navbar .navbar-toggler {
    border-color: #ff66cb; }
    .header .navbar .navbar-toggler:focus {
      border: none; }
  .header .navbar .nav-item {
    padding: 20px; }
    .header .navbar .nav-item .nav-link {
      position: relative;
      display: block;
      justify-content: center;
      text-decoration: none;
      color: #313437;
      font-size: 1.2rem; }
      .header .navbar .nav-item .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
        color: transparent;
        z-index: 1;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.5s ease-in-out; }
      .header .navbar .nav-item .nav-link:hover::before {
        transform: scaleX(1); }
    .header .navbar .nav-item .nav-item[data-animation="center"] .nav-link::before {
      transform-origin: center; }
