*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables/colores';
@import './variables/extend';
@import './variables/mixin';
@import './variables/maps';

@import './secciones/index';
@import './utilidades/footer';
@import './utilidades/header';
